@font-face {
    font-family: evafiya;
    src: url('../Font/Evafiya-Font/Evafiya.ttf');
}
@font-face {
    font-family: font2;
    src: url('./coolvetica/coolvetica\ condensed\ rg.otf');
}
@font-face{
    font-family: lustria;
    src: url('./Lustria/Lustria-Regular.ttf')
}
@font-face {
    font-family: josefin;
    src: url('./Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}